@import url('http://fonts.cdnfonts.com/css/menlo');

.top3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
  height: 250px;
}

.top3 > :nth-child(1) {
  order: 2;
}

.top3 > :nth-child(2) {
  order: 1;
  align-self: center;
}

.top3 > :nth-child(3) {
  order: 3;
  align-self: end;
}

.topRank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 5px;
  height: 180px;
  width: 160px;
  border: 1px solid #505050;
  gap: 5px;
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.leaderboardRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(159, 159, 159, 0.73);
}

@media (max-width: 600px) {
  .top3 {
    display: none;
  }
}

.logo {
  font-size: 12px;
  position: absolute;
  left: 25px;
  top: 25px;
  font-family: Menlo, serif;
}

