@import url('http://fonts.cdnfonts.com/css/menlo');


.HomeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.ImgContainer  img {
    border-radius: 50%;
  }


.itemContainer {
  margin: 15px;
  width: 160px;
  height: 180px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #505050;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 10px;
  
}

.itemContainer&:hover {
  transform: scale(1.1);
  border: 1px solid #909090;
}

.inventoryImg {
  height: 225px;
}

.itemDesc {
  margin: 5px 0;
  text-align: center;
}

.logo {
  font-size: 12px;
  position: absolute;
  left: 25px;
  top: 25px;
  font-family: Menlo, serif;
}

