@import url("http://fonts.cdnfonts.com/css/menlo");

.top3 {
  display: flex;
  justify-content: center;
}

.topRank {
  width: var(--player-width);
  align-self: end;
}

.top3 > :nth-child(1) {
  order: 2;
}

.top3 > :nth-child(2) {
  order: 1;
}

.top3 > :nth-child(3) {
  order: 3;
}

.topRank a {
  display: block;
  text-align: center;
  margin: 0 auto 10px;
  gap: 5px;
}

.topRank a > *:not(:last-child) {
  margin-bottom: 1rem;
}

.avatarWrapper {
  width: 0;
  height: 50px;
  margin: auto;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.avatar {
  height: 50px;
  border-radius: 100%;
}

.podium {
  background-color: hsl(240, 4%, 22%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
}

.rank1 .podium {
  height: var(--podium-rank1-height);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.rank2 .podium {
  height: var(--podium-rank2-height);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: 2px solid hsl(240 4% 20%);
}

.rank3 .podium {
  height: var(--podium-rank3-height);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: 2px solid hsl(240 4% 20%);
}

.leaderboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
}

.leaderboardRow:nth-child(even) {
  background-color: #acacac0f;
}

.leaderboardRow a {
  display: flex;
  align-items: center;
  gap: 24px;
  cursor: pointer;
  padding: 10px;
  transition: all 0.15s ease-in-out;
}

.leaderboardRow a:hover {
  background-color: hsl(0deg 0% 100% / 13%);
}

.champions {
  margin-left: auto;
}

@media (max-width: 600px) {
  .top3 {
    display: none;
  }
}

.logo {
  font-size: 12px;
  position: absolute;
  left: 25px;
  top: 25px;
  font-family: Menlo, serif;
}
