@import url('http://fonts.cdnfonts.com/css/menlo');


.inventoryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.itemContainer {
  margin: 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.itemContainer:hover {
  transform: scale(1.15);
}

.inventoryImg {
  height: 225px;
}

.itemDesc {
  margin: 5px 0;
  text-align: center;
}

.logo {
  font-size: 12px;
  position: absolute;
  left: 25px;
  color: #9f9f9f;
  top: 25px;
  cursor: pointer;
  font-family: Menlo, serif;
}

.logo:hover {
  color: #58a7f6;
}
